/* Los nuevos para clarity */
/* body {
    width: 95% !important;
    height: 100vh;
    background: #000000;
} */


/* .header-section {
    background-image: url(src/assets/img/fondo.jpg);
    background-size: cover;
    height: 25vh;
    width: 99vw;
    margin: 10px auto;
    padding: 5px;
    ;
}

.body-header {
    position: relative;
    padding-top: 4%;
}

.body-header h1 {
    color: #fff;
}

.body-header h3 {
    color: #000000 !important;
}

.body-header h1 span {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.body-header h2 {
    font-size: 1.5rem;
} */