<clr-main-container class="headerMain">
    <clr-header class="header-section" #headerSection>
        <div class="container">
          <div class="row">
            <div class="body-header">
              <a href="http://www.aemet.es" target="new"
                ><img src="./assets/img/logo_AEMET_web.gif"
              /></a>
              <img src="./assets/img/logo_opendata_p.gif" />
              <h1 class="text-left">AEMET <span>Visual-WEB</span> OpenData</h1>
              <h3 class="text-left">
                Sistema para la visualización y reutilización de la información de
                AEMET
              </h3>
            </div>
          </div>
        </div>
    </clr-header>
</clr-main-container>
