.specific-modal {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 98vw;
    height: 66vh;
    color: #09121B;
    align-items: end;
    border-radius: 5px;
    display: flex;
    background: #2D383C;
    color: #FFFFFF;
}