<div class="clr-row">
    <div class="menuNav">
        <cds-icon shape="applications" size="24"></cds-icon>
        <div class="opc">
            <a routerLink="/specific-predictions">Pred. Especificas</a>
            <a href="">Obs. Convencional</a>
            <a href="">Valores Climatologicos</a>
            <a href="">Información Satelite</a>
            <a href="">Mapas y Graficos</a>
            <a href="">Maestro</a>
            <a href="">Productos Climatologicos</a>
            <a href="">Predicción Maritima</a>
            <a href="">Redes Especiales</a>
            <a href="">Red-Rayos</a>
            <a href="">indices-Incendios</a>
            <a href="">Predicciones-normalizadas-texto</a>
            <a href="">Red Radares</a>
            <a href="">Avisos</a>
            <a href="">Antartida</a>
        </div>
    </div>
</div>
